<div ng-if="!dataLoaded">
  <center>No Data</center>
</div>
<div ng-if="results.length>0 && dataLoaded">
	<center>
    <ul class="list-unstyled list-group results">
      <li class="result list-group-item" ng-repeat="result in results">
        <dl class="dl-horizontal">
<!--           <dt>{{result.name}}</dt> -->
          <dd>
            <table class="table table-hover">
              <tbody>
                <tr class="" style="text-align:left;">{{ result.name }}</tr>
                <tr>
                  <td>
                    {{ result.id }}
                  </td>
                </tr>
              </tbody>
            </table>
          </dd>
        </dl>
      </li>
    </ul>
  </center>
</div>
